In [ ]:
def max (a,b,c):
  if a>b and a>c:
    return a
  elif b>a and b>c:
    return b 
  else:
    return c 
max(14,25,36)

36

In [ ]:
def myfunc(a,b):
  return a+b , a-b

myfunc(5,4)

(9, 1)

In [ ]:
def myfunc(l):
  s=0
  for i in l:
    s=s+i

  return s 

def mul(c):
  s=1
  for i in c:
    s=s*i
  return s  

l=[10,5,4,2,3]
c=[2,5,3,4,6]
myfunc(l)
mul(c)
  if i%2==0:
    s=s+i
  return s 
myfunc(l)

IndentationError: ignored

In [1]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

green-red-yellow-black-white
black-green-red-white-yellow

In [2]:
import math

numbers = input("Provide D: ")
numbers = numbers.split(',')

result_list = []
for D in numbers:
    Q = round(math.sqrt(2 * 50 * int(D) / 30))
    result_list.append(Q)

print(result_list)

Provide D: 100
[18]