In [ ]:
s=[2,3,6]
result=1
for x in s:
  result=result*x
print(result)

36

In [ ]:
def takeSecond(elem):
  return elem[1]
  azzouzi: [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
azzouzi.sort(key=takeSecond)
print('sort list:',azzouzi)

sort list: [(4, 1), (2, 2), (1, 3), (3, 4)]

In [ ]:
def takeSecond(n): return n[1]

def sort_list_takeSecond(tuples):
  return sorted(tuples, key=takeSecond)

print(sort_list_takeSecond([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Q= Counter(d1) + Counter(d2)
print(Q)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
def float(n): return n[1]
def sort_list_float(tuples):
  return sorted(tuples, key=float)

print(sort_list_float(('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5'))

SyntaxError: ignored

In [ ]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item2', '15.10'), ('item3', '24.5'), ('item1', '12.20')]

In [ ]:
number = int(input("Type a number: "))

numberDict = {}
for i in range(1, number+1):
    numberDict[i] = i*i

print(numberDict)

Type a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}